/*Nav*/
/*colors*/
/*Typography*/
/*UI*/
.buttonStyle {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  outline: 0;
}
/*Sign in*/
.page {
  background-color: white;
}
.logo {
  display: block;
  margin: auto;
  width: 180px;
  height: auto;
  padding-top: 10px;
}
h3 {
  color: #898BA8;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: -10px;
}
.form {
  background: #FFFFFF;
  max-width: 500px;
  margin: 0;
  padding: 0px 20px 0px 20px;
  text-align: center;
}
.form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  outline: 0;
  text-align: left;
  color: #898BA8;
  border-style: solid;
  border-width: thin;
  border-color: #898BA8;
  margin: 0 0 15px;
  margin-left: 0;
  box-sizing: border-box;
}
.form button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 14px;
  outline: 0;
  background: #312e3e;
  color: #FFFFFF;
}
.form button a:link {
  color: white;
}
.form button:active,
.form button:focus {
  background: #898BA8;
}
.cont-bottom {
  text-align: center;
  color: white;
  margin: auto;
}
.cont-bottom button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 14px;
  outline: 0;
  width: 60%;
  color: #FFFFFF;
  background: #898BA8;
}
.index-content-block {
  background-color: #312e3e;
  margin-top: 20px;
  padding: 50px 0px 80px 0px;
}
/*header*/
.navbar {
  background-color: white;
  height: 55px;
}
.navTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
}
.date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  font-size: 12px;
  text-transform: none;
}
.settings {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/settings.svg");
}
.add {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/add.svg");
}
/*Cases Empty Screen Body*/
.content-block {
  margin: 0;
  border: 0;
}
.content-block ::after {
  display: none;
}
.content-block ::before {
  display: none;
}
.emptyScreen {
  margin-top: 80px;
  margin-bottom: 80px;
}
.emptyScreen .ambulance {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.emptyScreen .line1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #898BA8;
  text-align: center;
  margin-bottom: -10px;
  margin-top: -10px;
}
.emptyScreen .line2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  font-size: 14px;
  text-align: center;
}
.emptyScreen .addSmall {
  width: 30px;
  height: auto;
  display: inline-flex;
  margin-bottom: -10px;
}
/*Bottom Nav*/
.cases {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-image: url("../img/siren2.svg");
}
.notes {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-image: url("../img/notes.svg");
}
.profile {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-image: url("../img/profile.svg");
}
.tabbar-labels {
  height: 55px;
}
.tabbar-label {
  font-size: 14px;
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.toolbar {
  left: 0;
  bottom: 10;
  position: fixed;
  background-color: white;
}
