//out: styles.css
/*Nav*/
/*colors*/
@bandaid:#898BA8;
@blood: #C73340;
@stretcher:#9CA4BE;
@midnight:#312E3E;

/*Typography*/
.RobotoRegular (){
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}
.RobotoMedium (){
  font-family:'Roboto', sans-serif;
  font-weight: 500;
}
.RobotoBold (){
  font-family:'Roboto', sans-serif;
  font-weight: 700;
}
/*UI*/
.buttonStyle{
  text-align: center;
  width: 100%;
  border-radius:15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  outline: 0;
}

.topIcon-size(){
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.bottomIcon-size(){
  width:40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

/*Sign in*/

.page{
  background-color: white;
}
.logo{
  display: block;
  margin: auto;
  width:180px;
  height: auto;
  padding-top: 10px;

}
h3 {
  color: @bandaid ;
  font-size:17px;
  .RobotoRegular;
  text-align: center;
  margin-top: -10px;
}

.form {
  background: #FFFFFF;
  max-width: 500px;
  margin: 0;
  padding: 0px 20px 0px 20px;
  text-align: center;
  input {
    .RobotoRegular;
    .buttonStyle;
    text-align: left;
    color: @bandaid;
    border-style: solid;
    border-width: thin;
    border-color: @bandaid;
    margin: 0 0 15px;
    margin-left: 0;
    box-sizing: border-box;
  }
  button {
    .RobotoRegular;
    .buttonStyle;
    outline: 0;
    background: #312e3e;
    color: #FFFFFF;
    a:link{
      color:white;
    }
    &:active, &:focus {
      background: @bandaid;
    }
  }
}
.cont-bottom{
  text-align: center;
  color: white;
  margin: auto;
  button{
    .RobotoRegular;
    .buttonStyle;
    width: 60%;
    color: #FFFFFF;
    background: @bandaid;
  }
}
.index-content-block{

background-color: #312e3e;
margin-top: 20px;
padding: 50px 0px 80px 0px;
}

/*header*/
.navbar{
  background-color: white;
  height:55px;
}
.navTitle{
  .RobotoBold;
  text-align: center;
  font-size:14px;
  text-transform:uppercase;
  color:@midnight;
}
.date{
  .RobotoRegular;
  color:@bandaid;
  font-size: 12px;
  text-transform: none;
}
.settings{
  .topIcon-size;
  background-image: url("../img/settings.svg");
}
.add{
  .topIcon-size;
  background-image: url("../img/add.svg");
}
/*Cases Empty Screen Body*/
.content-block {
  margin:0;
  border:0;
  ::after{
    display:none;
  }
  ::before{
    display: none;
  }
}
.emptyScreen{
  margin-top: 80px;
  margin-bottom: 80px;
  .ambulance{
    width:100px;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .line1{
    .RobotoMedium;
    font-size: 17px;
    color:@bandaid;
    text-align: center;
    margin-bottom: -10px;
    margin-top: -10px;
  }
  .line2{
    .RobotoRegular;
    color:@bandaid;
    font-size: 14px;
    text-align: center;
  }
  .addSmall{
    width: 30px;
    height: auto;
    display:inline-flex;
    margin-bottom: -10px;
  }
}
/*Bottom Nav*/

.cases{
  .bottomIcon-size;
  background-image: url("../img/siren_red.svg");
}
.notes{
  .bottomIcon-size;
  background-image:url("../img/notes.svg");
}
.profile{
  .bottomIcon-size;
  background-image:url("../img/profile.svg");
}
.tabbar-labels{
  height:55px;
}
.tabbar-label{
  font-size: 14px;
  color:@bandaid;
  .RobotoRegular;
  text-transform: uppercase;
}
.tabbar-active{
  color:@blood;
}
.toolbar{
  left: 0;
  bottom: 10;
  position:fixed;
  background-color: white;
}
/*Popup*/

.close{
  .topIcon-size;
  background-image: url("../img/close.svg");
}
.popup-overlay{
  width:0;
  height:0;
}
.popup-navTitle{
  margin-right: 40px;
  .navTitle;
}
.list-block ul:before{
  display:none;
}
.list-block{
  input[type=text]{
    .RobotoRegular;
    font-size: 17px;
    color:@bandaid;
    border-style: none;
    margin-top:10px;
    margin-bottom: 0px;
    background: none;
  }
}

.cases-button{
  .buttonStyle;
  background-color: @blood;
  a{
    color:white;
    .RobotoRegular;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
  }
}
/*Added Case*/
.added_case_button{
  margin:auto;
  background-color:@midnight;
  width:330px;
  left:20px;
  height: 40px;
  display:inline-block;
  text-decoration:none;
  position:absolute;
  text-align: center;
  font-size: 16px;
  .RobotoRegular;
  color:white;
  margin-top:40px;
  padding-bottom:10px;
  padding-top:10px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  }
.added_case_button::after{
  display:block;;
  background-color:@blood;
  color:white;
  .RobotoRegular;
  font-size:12px;
  text-transform:capitalize;
  content:"Incomplete";
  width:330px;
  height:35px;
  position:absolute;
  left:0px;
  top:52px;
  line-height: 3;
  z-index:1;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*Events Empty Screen*/
.icon-back{
  .topIcon-size;
  background-image: url("../img/back.svg");
}
.add_event{
  .topIcon-size;
  background-image: url("../img/Add_event_button.svg");
}
