/*Nav*/
/*colors*/
/*Typography*/
/*UI*/
.buttonStyle {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
}
/*Sign in*/
.page {
  background-color: white;
}
.page-content {
  height: 110%;
}
.logo {
  display: block;
  margin: auto;
  width: 180px;
  height: auto;
  padding-top: 10px;
}
h3 {
  color: #898BA8;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: -10px;
}
.form {
  background: #FFFFFF;
  max-width: 500px;
  margin: 0;
  padding: 0px 20px 0px 20px;
  text-align: center;
}
.form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  text-align: left;
  color: #898BA8;
  font-size: 17px;
  border-style: solid;
  border-width: thin;
  border-color: #898BA8;
  margin: 0 0 15px;
  margin-left: 0;
  box-sizing: border-box;
}
.form button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  outline: 0;
  background: #312e3e;
  color: #FFFFFF;
  font-size: 20px;
}
.form button a:link {
  color: white;
  font-size: 17px;
}
.form button:active,
.form button:focus {
  background: #898BA8;
}
.cont-bottom {
  text-align: center;
  color: white;
  margin: auto;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.cont-bottom button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  outline: 0;
  width: 60%;
  color: #FFFFFF;
  background: #898BA8;
  font-size: 17px;
}
.index-content-block {
  background-color: #312e3e;
  margin-top: 20px;
  padding: 50px 0px 80px 0px;
}
/*header*/
.navbar {
  background-color: white;
  height: 55px;
}
.navTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
}
.date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  font-size: 12px;
  text-transform: none;
  text-align: center;
}
.settings {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/settings.svg");
}
.add {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/add.svg");
}
/*Cases Empty Screen Body*/
.content-block {
  margin: 0;
  border: 0;
}
.content-block ::after {
  display: none;
}
.content-block ::before {
  display: none;
}
.emptyScreen {
  margin-top: 80px;
  margin-bottom: 80px;
}
.emptyScreen .ambulance {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.emptyScreen .line1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #898BA8;
  text-align: center;
  margin-bottom: -10px;
  margin-top: -10px;
}
.emptyScreen .line2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  font-size: 14px;
  text-align: center;
}
.emptyScreen .addSmall {
  width: 30px;
  height: auto;
  display: inline-flex;
  margin-bottom: -10px;
}
/*Bottom Nav*/
.cases-active {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/siren_red.svg");
}
.notes-active {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/notes_red.svg");
}
.profile-active {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/profile_red.svg");
}
.cases {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/siren2.svg");
}
.notes {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/notes.svg");
}
.profile {
  width: 60px;
  height: 50px;
  margin-top: -12px;
  margin-left: 5px;
  background-size: 55px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/profile.svg");
}
.tabbar-labels {
  height: 55px;
}
.tabbar-label {
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.tabbar-active {
  color: #C73340;
}
.tabbar-labels span.tabbar-label {
  font-size: 12px;
}
.toolbar {
  left: 0;
  bottom: 10;
  position: fixed;
  background-color: white;
}
/*Popup*/
.close {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/close.svg");
}
.popup-overlay {
  width: 0;
  height: 0;
}
.popup-navTitle {
  margin-right: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
}
.list-block ul:before {
  display: none;
}
.list-block input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #898BA8;
  border-style: none;
  margin-top: 10px;
  margin-bottom: 0px;
  background: none;
}
.cases-button {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  background-color: #C73340;
  font-size: 20px;
}
.cases-button a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
/*Added Case*/
.added_case_button {
  margin: auto;
  background-color: #312E3E;
  width: 330px;
  left: 20px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 1.25;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.added_case_button span {
  color: #898BA8;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 5px;
}
.added_case_button::after {
  display: block;
  background-color: #C73340;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  content: "Incomplete";
  width: 330px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 52px;
  line-height: 3;
  z-index: 1;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*Events Empty Screen*/
.icon-back {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: -20px;
  background-image: url("../img/back.svg");
  font-style: normal;
}
.back-text span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #9CA4BE;
  display: inline-block;
  font-size: 14px;
  margin-left: 45px;
  margin-top: 8px;
  text-decoration: none;
}
.add_event {
  display: inline-block;
  width: 85px;
  height: 85px;
  float: right;
  margin-right: 10px;
  margin-top: 150px;
  background-image: url("../img/Add_event_button.svg");
}
.add_event-step1 {
  display: inline-block;
  width: 85px;
  height: 85px;
  float: right;
  margin-right: 10px;
  margin-top: 150px;
  background-image: url("../img/Add_event_button.svg");
  margin-top: 343px;
}
.add_event-step2 {
  display: inline-block;
  width: 85px;
  height: 85px;
  float: right;
  margin-right: 10px;
  margin-top: 150px;
  background-image: url("../img/Add_event_button.svg");
  margin-top: 275px;
}
.event-navTitle1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
  margin-left: -33px;
}
.event-navTitle1 .swiper-pagination {
  margin-left: 0px;
}
.event-navTitle2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
  margin-left: -35px;
}
.event-navTitle2 .swiper-pagination {
  margin-left: 10px;
}
.event-navTitle3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #312E3E;
  margin-left: 17px;
}
.event-navTitle3 .swiper-pagination {
  margin-left: 11px;
}
.event_Cont_block {
  background-color: #312E3E;
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 0.5;
  height: 35px;
}
.flt_button {
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.swiper-container {
  height: 100%;
  overflow: visible;
}
.swiper-pagination {
  position: relative;
  display: flex;
  margin-left: 7px;
}
.swiper-pagination-bullet {
  display: inline-block;
  text-align: center;
}
.swiper-pagination-bullet-active {
  background-color: #C73340;
}
.swiper-slide span {
  text-align: center;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 21px;
}
#back-text {
  display: inline-block;
  margin-left: 45px;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #898BA8;
}
#fire-back-text {
  display: inline-block;
  margin-left: 45px;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #898BA8;
  width: 200px;
}
/*Protocol*/
.protocol-dropdown {
  color: white;
}
.protocol-dropdown input[type=text] {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 0px;
  background-image: url("../img/drop_down.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-style: solid;
  border-width: thin;
  border-color: #f2f2f2;
  padding-right: 10px;
  padding-left: 10px;
}
.protocol-dropdown ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.protocol-dropdown ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.protocol-dropdown :-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.protocol-dropdown :-moz-placeholder {
  /* Firefox 18- */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.protocol-block {
  margin-top: 0px;
  margin-left: -16px;
  margin-right: -16px;
}
.protocol-block .item-content {
  background-color: #898BA8;
  color: white;
}
.protocol-block .item-input {
  margin-top: -5px;
  margin-bottom: -4px;
  width: 96%;
}
/*Narrative*/
.sync {
  width: 50px;
  height: 50px;
  background-image: url("../img/sync.svg");
  background-repeat: no-repeat;
}
/*Event Dropdown*/
#autocomplete-dropdown-event {
  color: #312E3E;
}
.event-dropdown {
  color: white;
}
.event-dropdown input[type=text] {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 0px;
  background-image: url("../img/drop_down.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-style: solid;
  border-width: thin;
  border-color: #f2f2f2;
  padding-right: 10px;
  padding-left: 10px;
}
.event-dropdown ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.event-dropdown ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.event-dropdown :-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.event-dropdown :-moz-placeholder {
  /* Firefox 18- */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.event-dropdown input[type=text] {
  color: #312E3E;
  border-style: none;
  margin-bottom: 0px;
  background-image: url("../img/drop_down_2.svg");
}
.event-dropdown ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
}
.event-dropdown ::-moz-placeholder {
  /* Firefox 19+ */
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
}
.event-dropdown :-ms-input-placeholder {
  /* IE 10+ */
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
}
.event-dropdown :-moz-placeholder {
  /* Firefox 18- */
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
}
.event-block ul ul {
  padding-left: 0px;
  color: #C73340;
}
.event-block .item-content {
  width: 100%;
  color: #312E3E;
}
.event-block .item-input {
  margin-top: -5px;
  margin-bottom: -4px;
  width: 100%;
}
/*Event Timeline*/
#timeline {
  visibility: visible;
  padding: 10px;
  text-align: left;
}
#timeline .progress-indicator {
  width: 100%;
}
#timeline .progress-indicator li {
  list-style: none;
  height: 80px;
  margin-left: -12px;
}
#timeline ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 28px;
  height: 100%;
  width: 1px;
  background: #9CA4BE;
  z-index: -1;
}
#timeline .bubble {
  padding: 5px 20px 25px 20px;
  margin-left: -30px;
  margin-right: 20px;
  background-image: url("../img/timeline_circle.svg");
  background-repeat: no-repeat;
  display: inline;
}
#timeline .time {
  font-size: 17px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  margin-left: -20px;
  display: inline;
}
#timeline .current-time .time {
  margin-left: -20px;
  font-size: 17px;
  color: #898BA8;
  text-align: left;
  display: inline;
}
#timeline .stacked-text {
  color: #312E3E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding-left: 50px;
  text-align: left;
  display: inline;
}
#timeline .stacked-text .switch {
  background-image: url("../img/switch.svg");
  background-repeat: no-repeat;
  margin-left: 115px;
  padding: 13px;
}
#timeline .stacked-text #switch {
  color: #C73340;
  font-size: 14px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#timeline .stacked-text .subdued {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-left: 25px;
  color: #898BA8;
  text-transform: uppercase;
  text-align: left;
  display: inline;
  margin-top: 0px;
}
/*Bradycardia Protocol*/
.brady-protocol p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #312E3E;
  font-size: 14px;
}
.brady-protocol button {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  background-color: #898BA8;
  margin-bottom: 60px;
  margin-left: 20px;
  width: 90%;
}
.brady-protocol button a {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.check {
  width: 80%;
  position: relative;
  margin: 20px auto;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #898BA8;
  color: #898BA8;
  text-align: left;
  line-height: 2;
  padding: 5px 0px 5px 10px;
  box-shadow: 1px 3px 4px rgba(102, 102, 102, 0.75);
}
.check button {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  background-color: #898BA8;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
}
.check button a {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.check label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  float: left;
  cursor: pointer;
  border-radius: 50px;
  border-style: solid;
  border-width: thin;
  border-color: #898BA8;
  margin-top: 3px;
  margin-right: 9px;
}
.check label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #8cc63f;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.check input[type=checkbox] {
  visibility: hidden;
  line-height: .5;
}
.check input[type=checkbox]:checked + label:after {
  opacity: 1;
}
#text-uppercase {
  color: #C73340;
  text-transform: uppercase;
}
#text-bold {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.arrow {
  color: #C73340;
  font-size: 42px;
  text-align: center;
  margin-top: -36px;
  margin-bottom: -15px;
}
.proto_Cont_block {
  background-color: #C73340;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.proto_Cont_block p {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.proto_Cont_block span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.Y-N_buttons {
  display: inline-flex;
  padding: 10px;
}
.Y-N_buttons a {
  color: white;
  margin-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.Y-N_buttons button {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #312E3E;
  padding: 16px 61px;
  color: white;
  margin-bottom: 40px;
  box-shadow: 1px 3px 4px rgba(102, 102, 102, 0.75);
}
.arrow-up {
  text-align: center;
}
.arrow-up img {
  width: 60px;
  height: auto;
}
.arrow-up p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: #312E3E;
}
/*Notes*/
.edit {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/edit.svg");
}
.notes-box {
  border-style: solid;
  border-color: #9CA4BE;
  border-width: thin;
  padding: 10px;
  margin: 10px;
}
.notes-inner {
  color: #312E3E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.list-block-notes .item-inner:after {
  display: none;
}
.list-block-notes ul:after {
  display: none;
}
.nav-left {
  margin-left: -30px;
}
.profile-img {
  margin-top: 20px;
}
.profile-img .prof-img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: -40px;
}
.profile-info h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #312E3E;
  font-size: 20px;
  text-align: center;
}
.profile-info p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #898BA8;
  font-size: 14px;
  text-align: center;
}
/*Registation*/
.reg-prof-form {
  color: #312E3E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
}
.reg-prof-form input {
  border-style: solid;
  border-width: thin;
  border-color: rgba(193, 193, 193, 0.6);
  padding: 10px;
  width: 90%;
  margin: 5px 0px 5px 0px;
  font-size: 17px;
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.reg-prof-img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: 0px;
}
#reg-img-edit {
  margin: 46%;
  color: #898BA8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.reg-button button {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  outline: 0;
  width: 80%;
  background: #C73340;
  margin: auto;
  display: block;
}
.reg-button a {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
}
.reg-thumb-cont img {
  width: 80px;
  heigh: auto;
  margin: auto;
  display: block;
  margin-top: 40%;
}
.reg-thumb-cont p {
  color: #898BA8;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  width: 70%;
  margin: auto;
  display: block;
  line-height: 1.75;
}
.reg-thumb-cont button {
  margin-top: 50%;
}
.reg-mic-cont img {
  width: 110px;
  heigh: auto;
  margin: auto;
  display: block;
  margin-top: 12%;
}
.reg-mic-cont p {
  color: #898BA8;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  width: 70%;
  margin: auto;
  display: block;
  line-height: 1.75;
  margin-top: 20px;
}
.reg-mic-cont button {
  margin-top: 40%;
}
