//out: styles.css
/*Nav*/
/*colors*/
@bandaid:#898BA8;
@blood: #C73340;
@stretcher:#9CA4BE;
@midnight:#312E3E;

/*Typography*/
.RobotoRegular (){
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}
.RobotoMedium (){
  font-family:'Roboto', sans-serif;
  font-weight: 500;
}
.RobotoBold (){
  font-family:'Roboto', sans-serif;
  font-weight: 700;
}
/*UI*/
.buttonStyle{
  text-align: center;
  width: 100%;
  border-radius:15px;
  border-style: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  outline: 0;
}

.icon-size(){
      width: 34px;
      height: 34px;
}

/*Sign in*/

.navIcon{
  image: url("img/siren.svg");
}
.page{
  background-color: white;

}
.logo{
  display: block;
  margin: auto;
  width:180px;
  height: auto;
  padding-top: 10px;

}
h3 {
  color: @bandaid ;
  font-size:17px;
  .RobotoRegular;
  text-align: center;
  margin-top: -10px;
}

.form {
  background: #FFFFFF;
  max-width: 500px;
  margin: 0;
  padding: 0px 20px 0px 20px;
  text-align: center;
  input {
    .RobotoRegular;
    .buttonStyle;
    text-align: left;
    color: @bandaid;
    border-style: solid;
    border-width: thin;
    border-color: @bandaid;
    margin: 0 0 15px;
    margin-left: 0;
    box-sizing: border-box;
  }
  button {
    .RobotoRegular;
    .buttonStyle;
    outline: 0;
    background: #312e3e;
    color: #FFFFFF;
    a:link{
      color:white;
    }
    &:active, &:focus {
      background: @bandaid;
    }
  }
}
.cont-bottom{
  text-align: center;
  color: white;
  margin: auto;
  button{
    .RobotoRegular;
    .buttonStyle;
    width: 60%;
    color: #FFFFFF;
    background: @bandaid;
  }
}
.index-content-block{

background-color: #312e3e;
margin-top: 20px;
padding: 50px 0px 80px 0px;
}

/*header*/
.navTitle{
  .RobotoBold;
  text-align: center;
  font-size:14px;
  text-transform:uppercase;
  color:@midnight;
}
.date{
  .RobotoRegular;
  color:@bandaid;
  font-size: 12px;
  text-transform: none;
}
.settings{
  .icon-size;
  background-image: url("../img/settings.svg");
}
.add{
  .icon-size;
  background-image: url("../img/add.svg");
}
/*Notes*/
